.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid ;
    padding: 25px;
    border-radius: 25px;

}

.banner img{
    border-radius: 10px;
    margin-bottom: 20px;
}

.tags strong{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
}

.tags p{
    margin-top: 30px;
}

.text{
    max-width: 300px;
}